<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <connectionStrings>
    <add name="ConnectionStringMsSql" connectionString="server=dbsys.cs.vsb.cz\STUDENT;database=sku0080;user=sku0080;password=ra2nzxhk8K;"/>
  </connectionStrings>
</configuration>